body {
    font-family: Arial, sans-serif;
}

form {
    width: 300px;
}

input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

button {
    margin-top: 5px;
}

.error {
    color: red;
    font-size: 0.9em;
}

.ok {
    color: green;
}

#passStrength {
    margin-top: 5px;
    font-weight: bold;
}

#formMsg {
    margin-top: 10px;
    font-weight: bold;
}

.success {
    color: green;
}

.fail {
    color: red;
}
